{% extends "index.html" %}

{% block content %}

<!--https://www.codeply.com/go/nhbdi2FkJm-->


<div class="col-md-6 mx-auto">

    <!-- form card voice_body -->
    <div class="card rounded-0">

        <div class="card-header">
            <h3 class="mb-0">{{form_taglist_check}}</h3>
        </div>
        <div class="card-body">

            <form class="form"  action = "/{{action}}" method = post >
                {{ form.hidden_tag() }}

             <div class="form-group">
                {{ form.taglist_check.label }}
                {{ form.taglist_check(class_="form-control") }}

                {% if form.taglist_check.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.taglist_check.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>
            <div class="form-group">
                {{ form.command_body.label }}
                {{ form.command_body(class_="form-control") }}

                {% if form.command_body.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.command_body.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>


            <div class="form-group">
                {{ form.versions.label }}
                {{ form.versions(class_="form-control") }}

                {% if form.versions.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.versions.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>
            <div class="form-group">
                {{ form.rating.label }}
                {{ form.rating(class_="form-control") }}

                {% if form.rating.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.rating.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>



                {{ form.submit(class_="btn btn-success") }}
            </form>
        </div>
        <!--/card-block-->
    </div>
    <!-- /form card voice_body -->

</div>

</div>




{% endblock %}